$color-primary: #F1CDB3;
$color-background: #F6F6F6;
$color-heading-light: #FFFFFF;
$color-heading-dark: #545454;
$color-text-light: #CDCDCD;
$color-text-dark: #4C4C4C;
$color-button: #292929;
$color-nav-light: #FAFAFA;
$color-primary-light: #FDDCC4;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
