.donation {
   background-color: $color-background;
}

.donation__image {
   margin: 91px 0 110px 143px;
}

.donation__right-content {
   width: 380px;
   .button {
      border-radius: 9px;
      border: 0;
      padding: 10px 15px;
      margin-bottom: 20px;

      .number-card {
         color: $color-heading-dark;
         @include font(2rem, 115%);
      }
   }
   
}

.donation__title {
   max-width: 300px;
   margin-top: 80px;
} 

.donation-info {
   color: #B2B2B2;
   max-width: 380px;
   margin: 0;
   @include font(1.2rem, 150%, 400, italic);
}

.donation__description {
   color: $color-heading-dark;
   margin: 20px 0;
   @include font(1.5rem, 110%);
   letter-spacing: 0.06em;
   @extend %font-add;
}

